.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all 0.2s;
    z-index: 1;
    outline-offset: 1rem;;


    &--p1{
      left: 0px;
      top: -2rem;
    }
    &--p2{
      right: 0px;
      top: 2rem;
    }
    &--p3{
      left: 20%;
      top: 10rem;
    }
    &:hover{
      outline: 1rem solid $color-primary;
      transform: scale(1.1) translateY(-.5rem);
    box-shadow: 0 2rem 4rem rgba($color-black, 0.6);
    z-index: 2;

    }
  }
  &:hover &__photo:not(:hover){
    transform: scale(0.95);
  }
}

